node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Project
.env
src/config/google-services.json
src/config/GoogleService-Info.plist

# macOS
.DS_Store
yarn.lock
